@charset "UTF-8";
body,html{
margin: 0px;
padding: 0px;
font-family: var(--fonte-remaster);
font-weight: var(--font-peso);
background-image: url('imagens/background001.jpg');


}

header{
    background-color: black;
    padding: 30px;


}
header>h1{
    color: white;
    text-align: center;
    font-size: 3em;
    
}
header>nav{
    text-align: center;
}

a{
text-decoration: none;
color: white;
}

:root{
    --fonte-remaster:Arial,Verdana,sans-serif;
    --font-peso:bold;
    --letra-grande:1.2em;
}
P{
  display: block;  
  white-space: pre;
  line-height: 2.3em;
  font-size: var(--letra-grande);
} 

span{
 font-weight: lighter;
}
.wrapper{
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
  transform-style: preserve-3d;
}
.conteiner{
  position: relative;
  height: 100vh;
  min-height: 500px;
  transform-style: inherit;

}
.conteiner::before{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateZ(-1px) scale(1.5);

}
.txt{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.14);
  color: rgba(255, 255, 255, 0.529);
  text-shadow: 0px 0px 5px #000;
  text-align: left;
  font-size: 1.3em;
  text-align: center;
}
.bg1::before{
  background-image: url('/desafio12/imagens/background001.jpg');
  background: ;
  
}











