@charset "UTF-8";
body,html,main{
margin: 0px;
padding: 0px;
font-family: var(--fonte-remaster);
font-weight: var(--font-peso);
background-image: url('imagens/background001.jpg');


}

header{
    background-color: black;
    padding: 30px;


}
header>h1{
    color: white;
    text-align: center;
    font-size: 3em;
    
}
header>nav{
    text-align: center;
}

a{
text-decoration: none;
color: white;
}

:root{
    --fonte-remaster:Arial,Verdana,sans-serif;
    --font-peso:bold;
    --letra-grande:1.2em;
}
P{
  display: block;  
  white-space: pre;
  line-height: 2.3em;
  font-size: var(--letra-grande);
} 

span{
 font-weight: lighter;
}
footer{
  background-color: black;
  padding: 5px;
}
footer>p{
  color: white;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  
}










